# Version 2022/05/16

# redirect all traffic to https
server {
    listen 80 default_server;
    listen [::]:80 default_server;
    server_name _;

    include /config/nginx/real-ip.conf;

    client_max_body_size 0;

    location / {
      include /etc/nginx/uwsgi_params;
      uwsgi_pass 127.0.0.1:5000;
    }
}